.PageDetail {
  max-width: 1012px;
  margin: 0 auto;
}

.PageDetail img {
  width: 100%;
}

.PageDetail h1 {
  margin: 0.5rem 0;
  text-align: center;
}
.PageDetail p {
  margin: 0.5rem 0px;
  line-height: 1.3rem;
}

.linksDetails {
  display: block;
  margin-top: 1rem;
  color: white;
  text-decoration-color: #0fff50;
}

.linksDetails:last-of-type {
  margin-bottom: 2rem;
}

@media screen and (max-width: 815px) {
  .PageDetail p,
  .PageDetail .linksDetails {
    margin: 1rem;
  }
}
