.PageDetail {
  max-width: 1012px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.PageDetail h1 {
  margin: 1.5rem 0;
  text-align: center;
}
.techUsed {
  margin: 3rem 0px 1rem 0px;
}

.PageDetail p {
  line-height: 1.5rem;
}

.PageDetail a {
  margin: 1rem 0;
  color: white;
  text-decoration-color: #0fff50;
  width: 120px;
}

.containerCarousel {
  /* margin: 2rem 0; */
  /* height: 500px; */
  position: relative;
}
.containerCarousel button {
  background-color: rgba(0, 0, 0, 0.356);
  padding: 0 0.2rem;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.containerCarousel .buttonCarouselRight {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.containerCarousel .buttonCarouselLeft {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /* display: none; */
}
.containerCarousel button svg {
  transition: all 0.5s;
}

.containerCarousel button svg:hover {
  transform: scale(1.4);
}

.carousel {
  display: flex;
  gap: 0.7rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel img {
  height: 300px;
  /* width: 40%; */
}

@media screen and (max-width: 1012px) {
  .PageDetail {
    margin: 0 1rem;
  }

  /* .containerAllProjects {
    justify-content: center;
  } */
}

@media screen and (max-width: 500px) {
  .carousel img {
    max-height: 200px;
    width: 90%;
  }
  .containerCarousel button {
    display: none;
  }
}
