.PageDetail {
  max-width: 812px;
  margin: 0 auto;
}

.PageDetail img {
  width: 100%;
  /* border-radius: 10px; */
  margin-bottom: 1rem;
}

.PageDetail h1 {
  margin: 0.5rem 0;
  text-align: center;
}
.PageDetail p {
  margin: 0.5rem 0px;
  line-height: 1.3rem;
}

.PageDetail a {
  display: block;
}

.comeBack {
  margin-top: 1rem;
  color: white;
}
